/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	font-family: Monaco;
	font-size: 25;
}

@font-face {
	src: url("../libs/MONACO.TTF");
	fontFamily: "Monaco";
	cff: false;
}	
